<br />
<div class="content">
    <div class="col-md-12" style="display: inline-block">
        <div class="card">
            <div class="card-header">
            <h5 class="title text-center">Markayı Sil</h5>
          </div>
          <div class="card-body">
              <form [formGroup]="brandDeleteForm">
                <div class="mb-3">
                    <label for="brandId">Marka Id</label>
                    <div class="form-group">
                      <input
                        type="number"
                        id="brandId"
                        formControlName="brandId"
                        class="form-control"
                        [readonly]="disableSelect"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="brandName">Marka</label>
                    <div class="form-group">
                      <input
                        type="text"
                        id="brandName"
                        formControlName="brandName"
                        class="form-control"
                        [readonly]="disableSelect"
                      />
                    </div>
                  </div>
              </form>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-md-6" style="text-align: end">
                <button (click)="deleteBrand()" class="btn btn-danger">
                  Markayı Sil
                </button>
              </div>
              <div class="col-md-6" style="text-align: start">
                <button
                  class="btn btn-fill btn-info"
                  routerLink="/brand/list"
                >
                  Marka Listesine Dön
                </button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

