<br />
<button type="button" class="btn btn-info" routerLink="/model/add">
  Model Ekle
</button>
<br /><br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">Marka</th>
      <th>Model</th>
      <th>Güncelle</th>
      <th>Sil</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let models of modelList">
      <td>{{ models.brandName }}</td>
      <td>{{ models.modelName }}</td>

      <td>
        <button
          type="button"
          class="btn btn-success"
          routerLink="/model/update/{{ models.modelId }}"
        >
          Güncelle
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-danger"
          routerLink="/model/delete/{{ models.modelId }}"
        >
          Sil
        </button>
      </td>
    </tr>
  </tbody>
</table>
