<h2 class="text-center">Araç Kiralama Listesi</h2>
<table  *ngIf="dataLoaded!==false" class="table table-striped">
<thead>
    <tr>
        <th>Kiralama Id</th>
        <th>Şirket Adı</th>
        <th>Müşteri Ad Soyad</th>
        <th>Marka</th>
        <th>Model</th>
        <th>Kiralama Tarihi</th>
        <th>Araç Teslim Tarihi</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let rental of rentals">
        <td>{{rental.id}}</td>
        <td>{{rental.companyName}}</td>
        <td>{{rental.userFirstName}} {{rental.userLastName}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.modelName}}</td>
        <td>{{rental.rentDate | date:"d.M.yy h:mm:ss"}}</td>
        <td>
            <span *ngIf="rental.returnDate != null">{{rental.returnDate | date:"d.M.yy h:mm:ss"}}</span>
            <span *ngIf="rental.returnDate == null">Araç henüz teslim edilmedi!</span>
        </td>
    </tr>
</tbody>
</table>
