<table class="table table-striped">
<thead>
    <tr>
        <th>Rental Id</th>
        <th>Company Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Brand Name</th>
        <th>Model Name</th>
        <th>Rent Date</th>
        <th>Return Date</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let rental of rentals">
        <td>{{rental.id}}</td>
        <td>{{rental.companyName}}</td>
        <td>{{rental.userFirstName}}</td>
        <td>{{rental.userLastName}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.modelName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
    </tr>
</tbody>
</table>