<br />
<div class="content">
  <div class="col-md-12" style="display: inline-block">
    <div class="card">
      <div class="card-header">
        <h5 class="title text-center">Aracı Sil</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="carDeleteForm">
          <div class="mb-3">
            <label for="carId">Araç Id</label>
            <div class="form-group">
              <input
                type="number"
                id="carId"
                formControlName="carId"
                class="form-control"
                placeholder="Marka Id giriniz.."
              />
            </div>
          </div>
          
          <div class="mb-3">
            <label for="brandId">Marka Id</label>
            <div class="form-group">
              <input
                type="number"
                id="brandId"
                formControlName="brandId"
                class="form-control"
                placeholder="Marka Id giriniz.."
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="modelId">Model Id</label>
            <div class="form-group">
              <input
                type="number"
                id="modelId"
                formControlName="modelId"
                class="form-control"
                placeholder="Model Id giriniz.."
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="colorId">Renk Id</label>
            <div class="form-group">
              <input
                type="number"
                id="colorId"
                formControlName="colorId"
                class="form-control"
                placeholder="Renk Id giriniz.."
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="modelYear">Model Yılı</label>
            <div class="form-group">
              <input
                type="text"
                id="modelYear"
                formControlName="modelYear"
                class="form-control"
                placeholder="Araç model yılı giriniz.."
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="dailyPrice">Günlük Fiyat</label>
            <div class="form-group">
              <input
                type="number"
                id="dailyPrice"
                formControlName="dailyPrice"
                class="form-control"
                placeholder="Günlük araç fiyatı giriniz.."
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="description">Açıklama</label>
            <div class="form-group">
              <input
                type="text"
                id="description"
                formControlName="description"
                class="form-control"
                placeholder="Araç açıklaması giriniz.."
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6" style="text-align: end">
            <button (click)="deleteCar()" class="btn btn-danger">
           Aracı   Sil
            </button>
          </div>
          <div class="col-md-6" style="text-align: start">
            <button class="btn btn-fill btn-info" routerLink="/car/list">
             Araç Listesine Dön
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
