<br />
<div class="content">
  <button type="button" class="btn btn-info" routerLink="/model/list">
    Model Listesine Dön
  </button>
</div>
<br /><br />
<div class="col-md-12" style="display: inline-block">
  <div class="card">
    <div class="card-header">
      <h5 class="title text-center">Model Ekle</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="modelAddForm">
        <div class="mb-3">
          <label for="brandId">Marka Seçiniz</label>
          <div class="form-group">
            <select
              class="form-control form-select mb-3"
              name="brandId"
              id="brandId"
              type="number"
              formControlName="brandId"
            >
              <option *ngFor="let brand of brands" [ngValue]="brand.brandId">
                {{ brand.brandName }}
              </option>
            </select>
          </div>
        </div>

        <div class="mb-3">
          <label for="modelName">Model</label>
          <div class="form-group">
            <input
              type="text"
              id="modelName"
              formControlName="modelName"
              class="form-control"
              placeholder="Model giriniz.."
            />
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="d-grid gap-2 col-4 mx-auto">
        <button class="btn btn-success" (click)="addModel()">Ekle</button>
      </div>
    </div>
  </div>
</div>
