<table class="table table-striped">
  <thead>
    <tr>
      <th>Car Id</th>
      <th>Brand Name</th>
      <th>Model Name</th>
      <th>Model Year</th>
      <th>Color Name</th>
      <th>Daily Price</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{ car.carId }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.modelName }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>{{ car.description }}</td>
    </tr>
  </tbody>
</table>
