<h2 class="text-center">Customer List</h2>
<table *ngIf="dataLoaded!=false" class="table table-striped">
  <thead>
    <tr>
      <th>Customer Id</th>
      <th>Company Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>E-Mail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.customerId}}</td>
      <td>{{customer.companyName}}</td>
      <td>{{customer.userFirstName}}</td>
      <td>{{customer.userLastName}}</td>
      <td>{{customer.eMail}}</td>
    </tr>
  </tbody>
</table>
