<br />
<div class="content">
  <div class="col-md-12" style="display: inline-block">
    <div class="card">
      <div class="card-header">
        <h5 class="title text-center">Araç Bilgilerini Güncelle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="carUpdateForm">
          <div class="mb-3">
            <label for="carId">Araç Id</label>
            <div class="form-group">
              <input
                type="number"
                id="carId"
                formControlName="carId"
                class="form-control"
                [readonly]="disableSelect"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="brandId">Marka Id</label>
            <div class="form-group">
              <select
                class="form-control form-select mb-3"
                name="brandId"
                id="brandId"
                type="number"
                formControlName="brandId"
              >
                <option *ngFor="let brand of brands" [ngValue]="brand.brandId">
                  {{ brand.brandName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="modelId">Model Id</label>
            <div class="form-group">
              <select
                class="form-control form-select mb-3"
                name="modelId"
                id="modelId"
                formControlName="modelId"
              >
                <option *ngFor="let model of models" [ngValue]="model.modelId">
                  {{ model.modelName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="colorId">Renk Id</label>
            <div class="form-group">
              <select
                class="form-control form-select mb-3"
                name="colorId"
                id="colorId"
                formControlName="colorId"
                aria-label=".form-select-lg example"
              >
                <option *ngFor="let color of colors" [ngValue]="color.colorId">
                  {{ color.colorName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="modelYear">Model Yılı</label>
            <div class="form-group">
              <input
                type="text"
                id="modelYear"
                formControlName="modelYear"
                class="form-control"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="dailyPrice">Günlük Fiyat</label>
            <div class="form-group">
              <input
                type="number"
                id="dailyPrice"
                formControlName="dailyPrice"
                class="form-control"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="description">Açıklama</label>
            <div class="form-group">
              <input
                type="text"
                id="description"
                formControlName="description"
                class="form-control"
              />
            </div>
          </div>
        </form>
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col-md-6" style="text-align: end">
            <button (click)="updateCar()" class="btn btn-success">
              Güncelle
            </button>
          </div>
          <div class="col-md-6" style="text-align: start">
            <button
              class="btn btn-fill btn-info"
              routerLink="/car/list"
            >
              Araç Listesine Dön
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
